<?xml version='1.0' encoding='utf-8'?>
<widget id="at.wifiwien.metroviewer" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>metroViewer</name>
    <description>
        Das ist eine Test APP
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        WIFI JS Kurs
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />

    <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />

    <platform name="android">
        <icon density="xxxhdpi" src="www/icon.png" />      
    </platform>


    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />


</widget>
