body { font-family:Arial; font-size:20px; color:#000; background:#d4d4d4; }

body > h1 { background:#fff; margin:0; border-bottom:1px solid #000; box-shadow:2px 2px 2px rgba(0,0,0,0.5); padding:5px 10px; line-height:1.2; font-size:22px; position:absolute; top:0; left:0; z-index:2; right:0; }
body > h1 img { height:28px; width:auto; vertical-align:bottom; margin-right:10px;  }

html,body { height:100%; }

#map { position:absolute; top:38px; left:0; right:0; bottom:0; }

#info { position:absolute; z-index:10; background:rgba(0,0,0,0.8); left:10px; top:80px; bottom:40px; right:10px; padding:20px; color:#fff; }
